<div id="event-box">
	<img src="./{{(this.currentBackground | async)?.path}}" alt="Background" class="event-bg"/>
	<img src="{{ maskPath | async }}" alt="Mask" class="event-mask"/>

	<div class="title-container">
		<textarea id="title-textarea" [value]="lipsumShort" rows="1" spellcheck="false"></textarea>
	</div>
	<div class="desc-container" [style.height.px]="(descHeight | async)" >
		<textarea id="desc-textarea" [value]="lipsumLong" spellcheck="false" appTextareaAutoresize></textarea>
	</div>
	@for (item of (optionsState | async); track item.id) {
		<div class="option-container" [style.top.px]="item.height" [style.display]="item.visible ? 'none' : 'block'" >
			<textarea class="option-textarea" id="option-{{item.id}}" [value]="lipsumShort" rows="1" spellcheck="false"></textarea>
		</div>
	}
</div>

