<label>
  Event Id:
  <input [formControl]="eventIdControl" />
</label><br><br>

No of options:<br>
<label>
  <input type="radio" [value]="1" [formControl]="noOfOptionsControl" />
  One (not recommended!)
</label>
<br>
<label>
  <input type="radio" [value]="2" [formControl]="noOfOptionsControl" />
  Two
</label>
<br>
<label>
  <input type="radio" [value]="3" [formControl]="noOfOptionsControl" />
  Three
</label>
<br>
<label>
  <input type="radio" [value]="4" [formControl]="noOfOptionsControl" />
  Four
</label>
<br>
<label>
  <input type="radio" [value]="5" [formControl]="noOfOptionsControl" />
  Five (not recommended!)
</label>