No of options:<br>
<label>
  <input type="radio" [value]="1" [formControl]="control" />
  One (not recommended!)
</label>
<br>
<label>
  <input type="radio" [value]="2" [formControl]="control" />
  Two
</label>
<br>
<label>
  <input type="radio" [value]="3" [formControl]="control" />
  Three
</label>
<br>
<label>
  <input type="radio" [value]="4" [formControl]="control" />
  Four
</label>
<br>
<label>
  <input type="radio" [value]="5" [formControl]="control" />
  Five (not recommended!)
</label>