@font-face {
  font-family: fondamento;
  src: url(assets/fonts/Fondamento-Regular.ttf) format("truetype");
}
@font-face {
  font-family: gitan;
  src: url(assets/fonts/GitanLatin-Regular.otf) format("opentype");
}