$subpanel-color: #020202;
$panel-color: #1a1a1a;
$panel-bg-color: #24272b;
$font-color: #9B998E;
$font-highlight-color: #DDD6BF;
$contrast-color: #5f4f38;

@font-face {
  font-family: fondamento;
  src: url(assets/fonts/Fondamento-Regular.ttf) format("truetype");
}
@font-face {
  font-family: gitan;
  src: url(assets/fonts/GitanLatin-Regular.otf) format("opentype");
}

* {
  font-family: 'gitan';
  color: $font-color;
  scrollbar-color: #5F4C3B #271E1A;
}

.subpanel {
  padding: 5px;
  background-color: $subpanel-color;
}

button {
  background-color: #64592a;
  padding: 5px 10px;
  color: $font-highlight-color;
}

button.down {
  color: white;
  background-color: rgb(80, 71, 34);
}