@use '../../../styles.scss' as *;


.char-overview {
	width: 500px;
}

.char-panel {
	margin: 5px;
	min-height: 40px;
}

.char-name {
	font-weight: bold;
}
.char-gender {
	height: 25px;
	width: 25px;
	fill: $contrast-color;
  vertical-align: -0.4em;
}

.action-btn {
	float: right;
}
.action-btn svg {
	fill: $font-highlight-color;
}
svg {
	height: 20px;
	width: 20px;
  vertical-align: -0.4em;
	fill: $font-color;
}